<footer class="footer">
  <small>
  This is the footer
  </small>
  <nav>
    <ul>
      <li><%= link_to "Signup",   signup_path %></li>
      <li><%= link_to "Browse", browse_path %></li>
    </ul>
  </nav>
</footer>